#nav {
    position: absolute;
    top: 0;
}

nav {
    z-index: 2;
    padding-top: 5px;
    position: fixed;
    width: 100%;
    background-color: lightblue;
    border-bottom: 2px solid black;
}

nav ul {
    z-index: 6;
    text-align: center;
}

li {
    z-index: 6;
    display: inline-block;
    margin: 4px 3%;
}

nav ul li a {
    text-decoration: none;
    position: relative;
    z-index: 6;
    font-size: 20px;
    color: white;
    text-shadow: 2px 0 0 black, 0 -2px 0 black, 0 2px 0 black, -2px 0 0 black;
}

li > a:hover, li > a:visited, li > a:active {
    color: white;
    text-decoration: none;
}

#left, #right {
    position: absolute;
    z-index: 0;
}

#left {
    width: 272px;
    height: 245px;
    top: 55px;
    left: 70px;
}

#right {
    width: 330px;
    height: 280px;
    top: 55px;
    right: 30px;
}

#header-div {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 110px;
    display: block;
    background-color: lightblue;
    width: 100%;
    height: 125px;
}

#header-div h1 {
    z-index: 1;
    margin: 0;
    text-align: center;
    position: relative;
    top: 15px;
    font-size: 60px;
    color: white;
    /*text-shadow: 2px 2px 20px black;*/
    text-shadow: 4px 0 0 black, 0 -4px 0 black, 0 4px 0 black, -4px 0 0 black;
}

#header-div h2 {
    z-index: 1;
    position: relative;
    text-align: center;
    font-size: 20px;
    color: white;
    text-shadow: 2px 0 0 black, 0 -2px 0 black, 0 2px 0 black, -2px 0 0 black;
}

.jumbotron {
    text-align: center;
    background-color: lightblue;
    margin: 40px 30px;
    border-radius: 20px;
    border: 2px solid black;
}

.jumbotron h1 {
    color: white;
    text-shadow: 4px 0 0 black, 0 -4px 0 black, 0 4px 0 black, -4px 0 0 black;
}

.mycontainer {
    padding: 40px 30px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #eee;
    font-size: 20px;
    margin-left: 4%;
    margin-right: 4%;
}

.mycontainer p {
    font-size: 20px;
    font-weight: 400;
}

#olaf2 {
    width: 260px;
    height: 260px;
}

#shovel {
    width: 184px;
    height: 328px;
}

#fine-print {
    margin-top: 10px;
    font-size: 10px;
    font-weight: 700;
}

span {
    font-weight: 700;
}

#cross-out {
    text-decoration: line-through;
}

.bottom-fixed {
    border: 2px solid black;
    position: fixed;
    bottom: 0;
    height: 140px;
    width: 100%;
}

.donate {
    position: relative;
    height: 140px;
    background-color: lightblue;
}

#gold {
    width: 200px;
    height: 250px;
    position: absolute;
    bottom: 20px;
    left: 60px;
}

#donate-knight {
    width: 219px;
    height: 283px;
    position: absolute;
    bottom: 20px;
    right: 50px;
    z-index: 0;
}

.donate h1 {
    z-index: 1;
    text-align: center;
    position: relative;
    top: 10px;
    left: 10px;
    margin: 0;
    font-size: 80px;
    color: white;
    text-shadow: 4px 0 0 black, 0 -4px 0 black, 0 4px 0 black, -4px 0 0 black;
}

body { background-color:white; }
#snow{
    background: none;
    font-family: Androgyne;
    background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index:1;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}   